@import "../abstract/mixins";
@import "../abstract/variables";

.navbar {
  @include flexitem;
  @include spacing-main;
  .nav-list {
    display: flex;
    .nav-items {
      padding: 0 2rem;
      a {
        font-weight: 600;
      }
    }
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
  a {
    padding: 8px;
    text-decoration: none;
    font-family: "Domine", serif;
    color: $primary-clr;
    display: block;
    transition: 0.3s;
    font-size: 25px;
    border: none;
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a:hover,
.overlay a:focus {
  border: none;
  color: #f1f1f1;
}
