@import "../abstract/mixins";
@import "../abstract/variables";
@import "../base/base";

.home-banner {
  background: url("/assets/images/headshape.png") no-repeat 100% 95%;

  .home-flex {
    @include flexitem;

    .home-content {
      width: 50%;

      p {
        @include common-paragraph-styles;
        color: $primary-clr;
        font-size: 12.5px;
        text-align: justify;
        width: 50%;
      }

      a {
        @include theme-btn;
        font-size: 21px;
        font-family: "Karla", sans-serif;
      }
    }
  }
}

.about {
  .about-flex {
    @include flex-container;
    margin-top: -5px;

    .about-content {
      @include itemcenter;
      display: flex;
      flex-direction: column;
      height: 450px;
      border-radius: 11px;
      justify-content: center;
      background-color: $primary-clr;
      text-align: center;

      .section-heading {
        font-size: 105px;
        color: $white;
      }

      p {
        @include common-paragraph-styles;
        margin: 0 auto;
        font-size: 20px;
        color: $white;
      }

      a {
        color: $white;
        font-size: 24.75px;
      }
    }
  }
}

.smooth {
  .smooth-flex {
    @include flex-container;
    margin-top: -5px;

    .smooth-overlay {
      position: absolute;
      top: 50%;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: rgba(212, 207, 205, 0.74);
      transform: translateY(-50%);

      .content {
        @include itemcenter;

        h2 {
          font-size: 72.94px;
          line-height: 69px;
        }

        p {
          font-size: 20px;
          margin-top: 2rem;
          width: 90%;
          text-transform: uppercase;
          color: $primary-clr;
          font-family: "Karla", sans-serif;
          text-align: justify;
        }
      }
    }
  }
}

.makehabit {
  .makehabit-flex {
    margin-top: -5px;
    @include flex-container;

    .makehabit-overlay {
      position: absolute;
      top: 50%;
      right: 0;
      width: 40%;
      height: 100%;
      background-color: rgba(212, 207, 205, 0.74);
      transform: translateY(-50%);

      .content {
        @include itemcenter;
        text-align: center;

        h2 {
          font-size: 133.88px;
          line-height: 127.4px;
        }

        a {
          @include theme-btn;
          margin-top: 2rem;
          font-size: 19px;
          font-family: "Karla", sans-serif;
        }
      }
    }
  }
}

.card-section {
  background-color: $primary-clr;
  padding: 4rem 0;
  margin-top: -5px;

  .card-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;

    .cardesay {
      img {
        width: 100px;
      }

      .section-heading {
        color: $white;
        line-height: 49.74px;
        padding: 1rem 0;
        font-size: 55.32px;
      }

      p {
        font-size: 17px;
        width: 70%;
        margin: 0 auto;
        text-transform: uppercase;
        font-family: "Karla", sans-serif;
        text-align: justify;
      }
    }
  }
}

.mission-section {
  padding: 4rem 0;

  .mission-flex {
    @include flexitem;
    justify-content: start;

    img {
      width: 400px;
    }

    .section-heading {
      font-size: 115.51px;
      margin: 0 6rem;
      letter-spacing: 1px;
      line-height: 111.95px;
    }

    p {
      @include common-paragraph-styles;
      font-size: 17.28px;
      width: 35%;
      color: $primary-clr;
    }
  }
}

.team {
  padding: 4rem 0;
  background-color: $primary-clr;

  .flex-title {
    text-align: center;

    .section-heading {
      color: $white;
      font-size: 137.15px;
      line-height: 123.32px;
    }
  }

  .team-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    text-align: center;
    align-items: center;

    img {
      width: 450px;
    }

    .section-heading {
      font-size: 33px;
      color: $white;
      margin-top: 4rem;
      font-family: "Karla", sans-serif;

      span {
        display: block;
        font-size: 25px;
      }
    }
  }
}

.counts {
  height: 150vh;
  .container-fluid {
    background-image: url("/assets/images/pattern.png"),
      url("/assets/images/pattern.png");
    height: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 10%, 95% 90%;

    .counts-title {
      text-align: center;
      display: grid;
      align-items: center;
      height: 100%;
      place-content: center;

      .section-heading {
        font-size: 126.96px;
        line-height: 114.25px;
      }

      .counts-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 5rem;
        text-align: center;
        align-items: center;
        .counts-card {
          .section-heading {
            font-size: 91px;
            line-height: 82px;
            span {
              font-size: 36.5px;
              line-height: 32.85px;
              display: block;
              font-family: "Karla", sans-serif;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

.cta{
  .cta-flex{
    @include flex-container;
    .cta-content {
      @include itemcenter;      
      text-align: center;

      .section-heading {
        font-size: 105px;
        color: $primary-clr;
        -webkit-text-stroke: 1px $white;
        line-height: 94.99px;
      }
      a{
        @include theme-btn;
        margin-top: 3rem;
        font-size: 29.99px;
        line-height: 26px;
        font-family: "Karla", sans-serif;
      }
    }

  }
}