$black: #000;
$white: #eee7e4;
$white-light: #eeeeee;
$dark-clr: #070707;
$bg-light: #eee7e4;
$primary-clr: #5a66c5;
$primary-dark-clr : #DBBBBB;
$secondary-clr: #4f5aad;
$text-clr: #ffffff;
$font-p-size: 1rem;
$font-cmn-size: 1.2rem;
$font-h-size: 3.5vw;