$black: #000;
$white: #fff;
$white-light: #eeeeee;
$dark-clr: #070707;
$bg-light: #efece4;
$primary-clr: #C65853;
$primary-dark-clr : #DBBBBB;
$secondary-clr: #530C0C;
$text-clr: #3D3C3C;
$font-p-size: 1rem;
$font-cmn-size: 1.2rem;
$font-h-size: 3.5vw;