@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
.domine-font {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
}

.karla-font {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.section-heading {
  color: #5a66c5;
  font-size: 70px;
  font-weight: 600;
  font-family: "Domine", serif;
}

html {
  scroll-behavior: smooth;
}

ul li,
p,
a {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #eee7e4;
}

button {
  color: #000;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #5a66c5;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: #4f5aad;
}

p {
  transition: all 0.4s ease-in-out;
}

ul li {
  transition: all 0.4s ease-in-out;
  color: #ffffff;
}

section {
  overflow-y: visible;
  position: relative;
}

.container-fluid {
  width: 90%;
  margin: 0 auto;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #5a66c5;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.navbar .nav-list {
  display: flex;
}
.navbar .nav-list .nav-items {
  padding: 0 2rem;
}
.navbar .nav-list .nav-items a {
  font-weight: 600;
}

footer {
  background-color: #5a66c5;
  margin-top: -6px;
}
footer .container-fluid {
  padding: 2rem 0;
}
footer .container-fluid .footer-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
footer .container-fluid .footer-social {
  display: grid;
  gap: 50px 200px;
  grid-template-columns: repeat(2, 1fr);
}
footer .container-fluid .footer-social .social-link {
  font-family: "Karla", sans-serif;
}
footer .container-fluid .footer-social .social-link h2 {
  font-size: 25px;
  color: #eee7e4;
  line-height: 44px;
}
footer .container-fluid .footer-social .social-link p {
  font-size: 16.33px;
}
footer .container-fluid .footer-copy h2 {
  font-size: 91px;
  text-align: end;
  font-family: "Domine", serif;
  color: #eee7e4;
  line-height: 86px;
}
footer .container-fluid .footer-copy p {
  font-family: "Karla", sans-serif;
  font-size: 15px;
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.section-heading {
  color: #5a66c5;
  font-size: 70px;
  font-weight: 600;
  font-family: "Domine", serif;
}

html {
  scroll-behavior: smooth;
}

ul li,
p,
a {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #eee7e4;
}

button {
  color: #000;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #5a66c5;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: #4f5aad;
}

p {
  transition: all 0.4s ease-in-out;
}

ul li {
  transition: all 0.4s ease-in-out;
  color: #ffffff;
}

section {
  overflow-y: visible;
  position: relative;
}

.container-fluid {
  width: 90%;
  margin: 0 auto;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #5a66c5;
}

.home-banner {
  background: url("/assets/images/headshape.png") no-repeat 100% 95%;
}
.home-banner .home-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home-banner .home-flex .home-content {
  width: 50%;
}
.home-banner .home-flex .home-content p {
  width: 60%;
  text-align: justify;
  padding: 1rem 0;
  font-family: "Karla", sans-serif;
  color: #5a66c5;
  font-size: 12.5px;
  text-align: justify;
  width: 50%;
}
.home-banner .home-flex .home-content a {
  transition: all 0.8s ease-in-out;
  padding: 0.2rem 1rem;
  display: inline-block;
  margin: 1rem 0rem 1rem 0rem;
  position: relative;
  border-radius: 30px;
  background-color: #5a66c5;
  font-size: 1.2rem;
  color: #eee7e4;
  border: 1px solid #5a66c5;
  font-size: 21px;
  font-family: "Karla", sans-serif;
}
.home-banner .home-flex .home-content a:hover {
  box-shadow: inset 0 0 0 2em #fff;
}

.about .about-flex {
  min-height: 100vh;
  position: relative;
  margin-top: -5px;
}
.about .about-flex img {
  min-height: 100vh;
  object-fit: cover;
}
.about .about-flex .about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  height: 450px;
  border-radius: 11px;
  justify-content: center;
  background-color: #5a66c5;
  text-align: center;
}
.about .about-flex .about-content .section-heading {
  font-size: 105px;
  color: #eee7e4;
}
.about .about-flex .about-content p {
  width: 60%;
  text-align: justify;
  padding: 1rem 0;
  font-family: "Karla", sans-serif;
  margin: 0 auto;
  font-size: 20px;
  color: #eee7e4;
}
.about .about-flex .about-content a {
  color: #eee7e4;
  font-size: 24.75px;
}

.smooth .smooth-flex {
  min-height: 100vh;
  position: relative;
  margin-top: -5px;
}
.smooth .smooth-flex img {
  min-height: 100vh;
  object-fit: cover;
}
.smooth .smooth-flex .smooth-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(212, 207, 205, 0.74);
  transform: translateY(-50%);
}
.smooth .smooth-flex .smooth-overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.smooth .smooth-flex .smooth-overlay .content h2 {
  font-size: 72.94px;
  line-height: 69px;
}
.smooth .smooth-flex .smooth-overlay .content p {
  font-size: 20px;
  margin-top: 2rem;
  width: 90%;
  text-transform: uppercase;
  color: #5a66c5;
  font-family: "Karla", sans-serif;
  text-align: justify;
}

.makehabit .makehabit-flex {
  margin-top: -5px;
  min-height: 100vh;
  position: relative;
}
.makehabit .makehabit-flex img {
  min-height: 100vh;
  object-fit: cover;
}
.makehabit .makehabit-flex .makehabit-overlay {
  position: absolute;
  top: 50%;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: rgba(212, 207, 205, 0.74);
  transform: translateY(-50%);
}
.makehabit .makehabit-flex .makehabit-overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.makehabit .makehabit-flex .makehabit-overlay .content h2 {
  font-size: 133.88px;
  line-height: 127.4px;
}
.makehabit .makehabit-flex .makehabit-overlay .content a {
  transition: all 0.8s ease-in-out;
  padding: 0.2rem 1rem;
  display: inline-block;
  margin: 1rem 0rem 1rem 0rem;
  position: relative;
  border-radius: 30px;
  background-color: #5a66c5;
  font-size: 1.2rem;
  color: #eee7e4;
  border: 1px solid #5a66c5;
  margin-top: 2rem;
  font-size: 19px;
  font-family: "Karla", sans-serif;
}
.makehabit .makehabit-flex .makehabit-overlay .content a:hover {
  box-shadow: inset 0 0 0 2em #fff;
}

.card-section {
  background-color: #5a66c5;
  padding: 4rem 0;
  margin-top: -5px;
}
.card-section .card-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}
.card-section .card-flex .cardesay img {
  width: 100px;
}
.card-section .card-flex .cardesay .section-heading {
  color: #eee7e4;
  line-height: 49.74px;
  padding: 1rem 0;
  font-size: 55.32px;
}
.card-section .card-flex .cardesay p {
  font-size: 17px;
  width: 70%;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  text-align: justify;
}

.mission-section {
  padding: 4rem 0;
}
.mission-section .mission-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: start;
}
.mission-section .mission-flex img {
  width: 400px;
}
.mission-section .mission-flex .section-heading {
  font-size: 115.51px;
  margin: 0 6rem;
  letter-spacing: 1px;
  line-height: 111.95px;
}
.mission-section .mission-flex p {
  width: 60%;
  text-align: justify;
  padding: 1rem 0;
  font-family: "Karla", sans-serif;
  font-size: 17.28px;
  width: 35%;
  color: #5a66c5;
}

.team {
  padding: 4rem 0;
  background-color: #5a66c5;
}
.team .flex-title {
  text-align: center;
}
.team .flex-title .section-heading {
  color: #eee7e4;
  font-size: 137.15px;
  line-height: 123.32px;
}
.team .team-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  text-align: center;
  align-items: center;
}
.team .team-flex img {
  width: 450px;
}
.team .team-flex .section-heading {
  font-size: 33px;
  color: #eee7e4;
  margin-top: 4rem;
  font-family: "Karla", sans-serif;
}
.team .team-flex .section-heading span {
  display: block;
  font-size: 25px;
}

.counts {
  height: 150vh;
}
.counts .container-fluid {
  background-image: url("/assets/images/pattern.png"), url("/assets/images/pattern.png");
  height: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 10%, 95% 90%;
}
.counts .container-fluid .counts-title {
  text-align: center;
  display: grid;
  align-items: center;
  height: 100%;
  place-content: center;
}
.counts .container-fluid .counts-title .section-heading {
  font-size: 126.96px;
  line-height: 114.25px;
}
.counts .container-fluid .counts-title .counts-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  text-align: center;
  align-items: center;
}
.counts .container-fluid .counts-title .counts-flex .counts-card .section-heading {
  font-size: 91px;
  line-height: 82px;
}
.counts .container-fluid .counts-title .counts-flex .counts-card .section-heading span {
  font-size: 36.5px;
  line-height: 32.85px;
  display: block;
  font-family: "Karla", sans-serif;
  margin-top: 10px;
}

.cta .cta-flex {
  min-height: 100vh;
  position: relative;
}
.cta .cta-flex img {
  min-height: 100vh;
  object-fit: cover;
}
.cta .cta-flex .cta-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.cta .cta-flex .cta-content .section-heading {
  font-size: 105px;
  color: #5a66c5;
  -webkit-text-stroke: 1px #eee7e4;
  line-height: 94.99px;
}
.cta .cta-flex .cta-content a {
  transition: all 0.8s ease-in-out;
  padding: 0.2rem 1rem;
  display: inline-block;
  margin: 1rem 0rem 1rem 0rem;
  position: relative;
  border-radius: 30px;
  background-color: #5a66c5;
  font-size: 1.2rem;
  color: #eee7e4;
  border: 1px solid #5a66c5;
  margin-top: 3rem;
  font-size: 29.99px;
  line-height: 26px;
  font-family: "Karla", sans-serif;
}
.cta .cta-flex .cta-content a:hover {
  box-shadow: inset 0 0 0 2em #fff;
}

@media screen and (max-width: 1700px) {
  .cta .cta-flex .cta-content {
    width: 80%;
  }
  .team .team-flex img {
    width: 360px;
  }
  .mission-section .mission-flex {
    justify-content: space-between;
  }
  .mission-section .mission-flex img {
    width: 300px;
  }
  .mission-section .mission-flex p {
    width: 80%;
    padding: 0 20px;
  }
  .mission-section .mission-flex .section-heading {
    white-space: nowrap;
    font-size: 90.51px;
    line-height: 95px;
    margin: 0 4rem;
  }
}
@media screen and (max-width: 1600px) {
  .home-banner .home-flex .home-content {
    width: 40%;
  }
  .home-banner .home-flex .home-content p {
    width: 80%;
  }
}
@media screen and (max-width: 1500px) {
  .counts .container-fluid .counts-title .section-heading {
    font-size: 100.96px;
    line-height: 98.25px;
  }
  .counts .container-fluid .counts-title .counts-flex .counts-card .section-heading {
    font-size: 75px;
    line-height: 80px;
  }
  .counts .container-fluid .counts-title .counts-flex .counts-card .section-heading span {
    font-size: 30.5px;
    line-height: 30.85px;
  }
  .about .about-flex .about-content {
    width: 80%;
  }
  .about .about-flex .about-content .section-heading {
    font-size: 80px;
  }
}
@media screen and (max-width: 1366px) {
  footer .container-fluid .footer-social {
    gap: 50px 150px;
  }
  .cta .cta-flex .cta-content .section-heading {
    font-size: 80px;
    line-height: 85px;
  }
  .team .flex-title .section-heading {
    font-size: 100px;
    line-height: 105px;
  }
  .team .team-flex {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 0;
  }
  .mission-section .mission-flex img {
    width: 250px;
  }
  .makehabit .makehabit-flex .makehabit-overlay .content h2 {
    font-size: 100.88px;
    line-height: 100.4px;
  }
  .home-banner .home-flex .home-img img {
    width: 80%;
  }
  .home-banner .home-flex .home-content {
    width: 45%;
  }
  .home-banner .home-flex .home-content .section-heading {
    font-size: 50px;
  }
}
@media screen and (max-width: 1240px) {
  footer .container-fluid .footer-social {
    gap: 50px 60px;
  }
  .mission-section .mission-flex {
    flex-wrap: wrap;
  }
  .mission-section .mission-flex p {
    width: 100%;
    padding: 40px 20px;
  }
  .card-section .container-fluid .card-flex {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 0;
  }
  .card-section .container-fluid .card-flex .cardesay p {
    width: 90%;
  }
  .smooth .smooth-flex .smooth-overlay .content h2 {
    font-size: 55.94px;
    line-height: 55px;
  }
  .about .about-flex .about-content {
    width: 90%;
  }
  .about .about-flex .about-content .section-heading {
    font-size: 70px;
  }
  .about .about-flex .about-content p {
    width: 90%;
  }
}
@media screen and (max-width: 1180px) {
  .home-banner .home-flex {
    flex-wrap: wrap;
  }
  .home-banner .home-flex .home-img {
    width: 100%;
  }
  .home-banner .home-flex .home-img img {
    width: 100%;
  }
  .home-banner .home-flex .home-content {
    width: 100%;
    padding: 20px;
  }
  .home-banner .home-flex .home-content p {
    width: 80%;
  }
  .container-fluid {
    width: 95%;
  }
}
@media screen and (max-width: 992px) {
  footer .container-fluid .footer-main {
    flex-direction: column;
    align-items: inherit;
  }
  footer .container-fluid .footer-main .footer-social .social-link.right {
    text-align: right;
  }
  footer .container-fluid .footer-main .footer-copy p {
    text-align: right;
  }
  .cta .cta-flex .cta-content {
    width: 100%;
  }
  .counts .container-fluid .counts-title .section-heading {
    font-size: 80.96px;
    line-height: 88.25px;
  }
  .counts .container-fluid .counts-title .counts-flex {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 0;
  }
  .team .flex-title .section-heading {
    font-size: 80px;
    line-height: 85px;
  }
  .team .team-flex img {
    width: 300px;
  }
  .navbar .nav-list {
    display: none;
  }
  .home-banner {
    background: url(/assets/images/headshape.png) no-repeat 100% 98%;
    background-size: 120px;
  }
  .about .about-flex .about-content .section-heading {
    font-size: 55px;
  }
  .makehabit .makehabit-flex .makehabit-overlay .content h2 {
    font-size: 76.88px;
    line-height: 76.4px;
  }
  .card-section .card-flex .cardesay .section-heading {
    color: #eee7e4;
    line-height: 52.74px;
    padding: 1rem 0;
    font-size: 49.32px;
  }
  .mission-section .mission-flex .section-heading {
    font-size: 85.51px;
    line-height: 85px;
  }
  .counts {
    height: 120vh;
  }
}
@media screen and (max-width: 820px) {
  .card-section .container-fluid .card-flex {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-section .container-fluid .card-flex .cardesay p {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .makehabit .makehabit-flex img {
    object-position: left;
  }
  .makehabit .makehabit-flex .makehabit-overlay {
    width: 100%;
  }
  .team .team-flex {
    grid-template-columns: repeat(1, 1fr);
  }
  .team .team-flex img {
    width: 100%;
  }
  .mission-section .mission-flex img {
    width: 200px;
  }
  .mission-section .mission-flex .section-heading {
    font-size: 70px;
    line-height: 70px;
    margin: 0 1rem;
  }
  .counts .container-fluid {
    background-size: 100px;
  }
}
@media screen and (max-width: 576px) {
  .smooth .smooth-flex .smooth-overlay {
    width: 100%;
  }
  .home-banner {
    background-size: 100px;
  }
  .home-banner .home-flex .home-content p {
    width: 100%;
    padding-bottom: 2rem;
  }
  .mission-section .mission-flex img {
    margin-bottom: 20px;
  }
  footer .container-fluid .footer-main .footer-social {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 60px;
  }
  footer .container-fluid .footer-main .footer-social .social-link.right {
    text-align: left;
  }
  .counts .container-fluid {
    background-position: 0% 10%, 95% 98%;
  }
  .counts .container-fluid .counts-title .section-heading {
    font-size: 60.96px;
    line-height: 65.25px;
  }
  .counts .container-fluid .counts-title .counts-flex {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px 0;
  }
  .counts .container-fluid .counts-title .counts-flex .counts-card .section-heading {
    font-size: 55px;
    line-height: 60px;
  }
  .counts .container-fluid .counts-title .counts-flex .counts-card .section-heading span {
    font-size: 30.5px;
    line-height: 35.85px;
  }
  .about .about-flex .about-content .section-heading {
    font-size: 50px;
  }
  .cta .cta-flex .cta-content .section-heading {
    font-size: 60px;
    line-height: 85px;
  }
  .cta .cta-flex .cta-content .section-heading br {
    display: none;
  }
  .cta .cta-flex .cta-content a {
    font-size: 18px;
  }
  footer .container-fluid .footer-copy h2 {
    font-size: 70px;
  }
}
@media screen and (max-width: 480px) {
  .team .flex-title .section-heading {
    font-size: 50px;
    line-height: 55px;
  }
  .smooth .smooth-flex .smooth-overlay .content {
    width: 90%;
  }
  .home-banner .home-flex .home-content .section-heading br {
    display: none;
  }
  .card-section .card-flex .cardesay .section-heading br {
    display: none;
  }
  .team .team-flex .section-heading {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .home-banner .home-flex .home-content .section-heading {
    font-size: 40px;
  }
  .home-banner .home-flex .home-content a {
    font-size: 17px;
  }
  .about .about-flex .about-content .section-heading {
    font-size: 44px;
  }
  .about .about-flex .about-content p {
    font-size: 17px;
  }
  .about .about-flex .about-content a {
    color: #eee7e4;
    font-size: 21.75px;
  }
  .mission-section .mission-flex .section-heading {
    font-size: 60px;
    line-height: 60px;
  }
  .counts .container-fluid .counts-title .section-heading {
    font-size: 50.96px;
    line-height: 55.25px;
  }
  .counts .container-fluid .counts-flex .counts-card .section-heading {
    font-size: 45px;
    line-height: 55px;
  }
  .counts .container-fluid .counts-flex .counts-card .section-heading span {
    font-size: 25.5px;
  }
}
@media screen and (max-width: 380px) {
  .about .about-flex .about-content .section-heading {
    font-size: 40px;
  }
  .smooth .smooth-flex .smooth-overlay .content h2 {
    font-size: 45.94px;
    line-height: 50px;
  }
  .makehabit .makehabit-flex .makehabit-overlay .content h2 {
    font-size: 60.88px;
    line-height: 65.4px;
  }
  .card-section .card-flex .cardesay .section-heading {
    padding: 1rem 0;
    font-size: 37.32px;
  }
  .cta .cta-flex .cta-content .section-heading {
    font-size: 50px;
    line-height: 45px;
  }
  footer .container-fluid .footer-copy h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 330px) {
  .home-banner {
    background-size: 70px;
  }
  .home-banner .home-flex .home-content .section-heading {
    font-size: 35px;
  }
  .about .about-flex .about-content .section-heading {
    font-size: 40px;
  }
  .about .about-flex .about-content p {
    font-size: 16px;
  }
  .card-section .card-flex .cardesay .section-heading {
    padding: 1rem 0;
    font-size: 33.32px;
  }
  .card-section .card-flex .cardesay p {
    font-size: 15px;
  }
  .mission-section .mission-flex .section-heading {
    font-size: 50px;
    line-height: 50px;
  }
  .team .flex-title .section-heading {
    font-size: 40px;
    line-height: 45px;
  }
  .counts .container-fluid .counts-title .section-heading {
    font-size: 50.96px;
    line-height: 55.25px;
  }
  .counts .container-fluid .counts-title .counts-flex .counts-card .section-heading {
    font-size: 45px;
    line-height: 55px;
  }
  .counts .container-fluid .counts-title .counts-flex .counts-card .section-heading span {
    font-size: 25.5px;
  }
  footer .container-fluid .footer-copy h2 {
    font-size: 50px;
    line-height: 50px;
    margin-top: 2rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee7e4;
  overflow-x: hidden;
}
