{{> header title="Home Page"}}
<main class="home">
  <section class="home-banner">
    <div class="home-flex">
      <div class="home-img">
        <img src="/assets/images/banner-img.png" alt="Banner Image">
      </div>
      <div class="home-content">
        <h1 class="section-heading">The Best<br>
          Dental Clinic<br>
          in Town.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra.
          maecenas accumsan lacus vel facilisis. </p>
        <a class="btn" href="">Set An Appointment</a>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="about-flex">
      <img src="/assets/images/subsec.png" alt="ABOUT">

      <div class="about-content">
        <h2 class="section-heading">What We Do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Quis ipsum suspendisse ultri</p>
        <a href="">Read More</a>
      </div>
    </div>
  </section>

  <section class="smooth">
    <div class="smooth-flex">
      <img src="/assets/images/imagemain.png" alt="Smooth">

      <div class="smooth-overlay">
        <div class="content">
          <h2 class="section-heading">Smooth<br>
            & Easy<br>
            Processes</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Quis ipsum suspendisse ultri</p>
        </div>
      </div>
    </div>
  </section>

  <section class="makehabit">
    <div class="makehabit-flex">
      <img src="/assets/images/imagesecond.png" alt="makehabit">

      <div class="makehabit-overlay">
        <div class="content">
          <h2 class="section-heading">
            Make<br>
            it a<br>
            Habit.
          </h2>
          <a href="" class="btn">DISCOVER MORE</a>
        </div>
      </div>
    </div>
  </section>

  <section class="card-section">
    <div class="container-fluid">
      <div class="card-flex">
        <div class="cardesay">
          <img src="/assets/images/shape3.png" alt="Clean Clinics 2010-2020">
          <h2 class="section-heading">Clean <br>Clinics <br>2010-2020</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo con.</p>
        </div>
        <div class="cardesay">
          <img src="/assets/images/shape3.png" alt="Dental Clinic of the Year 2015">
          <h2 class="section-heading">Dental Clinic<br>
            of the Year<br>
            2015</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo con.</p>
        </div>
        <div class="cardesay">
          <img src="/assets/images/shape3.png" alt="Dentist Awards Gala">
          <h2 class="section-heading">Dentist<br>
            Awards<br>
            Gala</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo con.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="mission-section">
    <div class="mission-flex">
      <img src="/assets/images/shapebig.png" alt="Shape">
      <h2 class="section-heading">Mission<br>& Vision<br>
        2022</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.</p>
    </div>
  </section>

  <section class="team">
    <div class="container-fluid">
      <div class="flex-title">
        <h2 class="section-heading">Our Team</h2>
      </div>
      <div class="team-flex">
        <div class="team-card">
          <img src="/assets/images/doc1.png" alt="Team">
          <h2 class="section-heading">DR. AREN WHITE <span>ORAL PATHOLOGIST</span></h2>
        </div>
        <div class="team-card">
          <img src="/assets/images/doc2.png" alt="Team">
          <h2 class="section-heading">DR. JOSEPH SMIT <span>ENDODONTIST</span></h2>
        </div>
        <div class="team-card">
          <img src="/assets/images/doc3.png" alt="Team">
          <h2 class="section-heading">DR. ALICE GREEN<span>ORTHODONTIST</span></h2>
        </div>
      </div>
    </div>
  </section>


  <section class="counts">
    <div class="container-fluid">
      <div class="counts-title">
        <h2 class="section-heading">Decades<br>
          Worth of<Br>
          Experience</h2>
        <div class="counts-flex">
          <div class="counts-card">
            <h2 class="section-heading">98%<span>SATISFACTION RATE</span></h2>
          </div>
          <div class="counts-card">
            <h2 class="section-heading">7980<span>PATIENTS</span></h2>
          </div>
          <div class="counts-card">
            <h2 class="section-heading">30<span>YEARS IN THE INDUSTRY</span></h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="cta-flex">
      <img src="/assets/images/ctaimg.png" alt="CTA">

      <div class="cta-content">
        <h2 class="section-heading">Your Perfect Smile<br>
          Within Reach.</h2>
        <a class="btn" href="">START YOUR SMILE JOURNEY NOW</a>
      </div>
    </div>
  </section>
</main>
{{> footer}}