<footer>
  <div class="container-fluid">
    <div class="footer-main">
    <div class="footer-social">
      <div class="social-link">
        <h2>OUR CLINIC</h2>
        <ul>
          <li>ABOUT US</li>
          <li>WHAT WE DO</li>
          <li>OUR PATIENTS</li>
          <li>OUR MISSION</li>
        </ul>
      </div>
      <div class="social-link right">
        <h2>SERVICES</h2>
        <ul>
          <li>SERVICE NAME HERE</li>
          <li>SERVICE NAME HERE</li>
          <li>SERVICE NAME HERE</li>
          <li>SERVICE NAME HERE</li>
          <li>SERVICE NAME HERE</li>

        </ul>
      </div>
      <div class="social-link">
        <h2>CAREERS</h2>
        <ul>
          <li>OUR TEAM
          </li>
          <li>JOIN US
          </li>
          <li>SPONSORSHIPS
          </li>
          <li>PRESS RELEASE</li>
        </ul>
      </div>
      <div class="social-link right">
        <h2>BLOG</h2>
        <ul>
          <li>BLOG NAME HERE</li>
          <li>BLOG NAME HERE</li>
          <li>BLOG NAME HERE</li>
        </ul>
      </div>
    </div>
    <div class="footer-copy">
      <h2>Bei<br>
        Dental</h2>
      <p>COPYRIGHT 2022 SMILE DENTAL CLINIC ALL RIGHTS RESERVED.</p>
    </div>
  </div>
  </div>
</footer>
</body>

</html>