@import "../abstract/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

.section-heading {
  color: $primary-clr;
  font-size: 70px;
  font-weight: 600;
  font-family: "Domine", serif;

}

html {
  scroll-behavior: smooth;
}
ul li,
p,
a {
  font-size: 1.2rem;
  line-height: 1.8;
  color: $white;
}
button {
  color: $black;
}
ul li {
  list-style: none;
}
img{
  width: 100%;
}

a {
  text-decoration: none;
  color: $primary-clr;
  transition: all 0.4s ease-in-out;
}
a:hover {
  color: $secondary-clr;
}
p {
  transition: all 0.4s ease-in-out;
}
ul {
  li {
    transition: all 0.4s ease-in-out;
    color: $text-clr;
  }
}

section {
  overflow-y: visible;
  position: relative;
}
.container-fluid {
  width: 90%;
  margin: 0 auto;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar {
  width: 2px;
  background-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: $primary-clr;
}
